<nav>
    <mat-toolbar>
        <div class="container">
            <a routerLink="/" class="brand">MyFridge</a>
            <ul class="navbar" id="menuList">
                <li class="nav-item">
                    <a tabindex="0" class="nav-link" routerLink="">Buscar Recetas</a>
                </li>
                <li class="nav-item">
                    <a tabindex="0" class="nav-link" routerLink="">Categorias</a>
                </li>
                <li class="nav-item">
                    <a tabindex="0" class="nav-link" routerLink="random">Random</a>
                </li>
                <li class="nav-item">
                    <a tabindex="0" class="nav-link" routerLink="login">Login</a>
                </li>
            </ul>
            <mat-icon id="menuToggler" [matMenuTriggerFor]="menu">more_vert</mat-icon>
            <mat-menu #menu="matMenu">
                <a tabindex="0" mat-menu-item routerLink="random">Random</a>
                <a tabindex="0" mat-menu-item routerLink="about">About</a>
                <mat-divider style="display: none;"></mat-divider>
                <a tabindex="0" mat-menu-item routerLink="login" style="display: none;">Login</a>
            </mat-menu>
        </div>
    </mat-toolbar>
</nav>