#recipelist {
    margin-top: 20px;
}
#recipelist h3 {
    margin-bottom: 10px
}
.mat-card {
    margin-bottom: 20px
}
.mat-card-image,
.mat-card-content {
    margin-bottom: 0
}

#noRecipes {
    text-align: center
}